.row-header{
    margin:0px auto;
    padding:0px auto;
    
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #e49319;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    
    border-radius: 0.3rem;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #eb8a30;
}

.card-img-top {
   width: auto; height: 15rem;
    object-fit: cover;
}